$black-title: #303030;
$secondary-b: #B2B0B0;
$third-c: #f2f1f1;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}



.absolute-pos {
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  color: $black-title;
  padding: 10px;
  border-radius: 7px;
  background: rgb(255, 255, 255);
  position: absolute;
  width: 300px;
  text-align: center;
  left: calc(50% - 150px);
  bottom: calc(50%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  will-change: slide-in-top;
  animation: slide-in-top 1800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  font-size: 2rem;
}

.absolute-pos-arrow {
  position: absolute;
  width: 200px;
  padding: 10px;
  text-align: center;
  left: calc(50% - 100px);
  bottom: calc(50% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black-title;
  gap: 17px;
  color: #fff;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  border: 2px solid #fff;

  a {
    color: #fff;
  }

  a img {
    width: 30px;
    will-change: transform;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(321deg) brightness(108%) contrast(109%);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
    animation: slide-in-top-arrow 2000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1s;
  }
}

.absolute-pos-arrow:hover {
  background: #04c2c9;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.absolute-pos-arrow span {
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.absolute-pos-arrow:hover span {
  transform: rotate(90deg);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.absolute-pos-arrow a img:hover {
  width: 40px;
  transform: rotate(90deg);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

canvas {
  height: 100vh !important;
  width: 100% !important;
  background-color: $black-title;
  position: relative;
}


#biography {
  padding: 3% 10%;
  font-family: 'PT Sans', sans-serif;

  .description {
    letter-spacing: 2.5px;
  }
}

#biography h3,
p:first-of-type {
  text-align: center;
  padding: 10px;
  font-weight: lighter;
  color: $black-title;
}

#biography p:first-of-type {
  font-size: 2rem;
  color: $black-title;
}

.nav-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  z-index: 2;
  position: absolute;
}

.navbar {
  overflow: hidden;
    position: fixed;
    bottom: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: inherit;
    padding: 13px;
    border-radius: 15px;
    flex-direction: row;
    border: 3px solid #303030;
    gap: 20px;
    background: #fff;
}

.navbar a {
  text-decoration: none;
  color: $black-title;
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.5rem;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.navbar a:hover {
  opacity: 0.8;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  transform: translateX(5%);
}




.title-container {
  width: clamp(200px, 50%, 320px);
  text-align: center;
  margin: 35px auto;
  letter-spacing: 2.8px;
  border-bottom: 2px solid $secondary-b;

  h2 {
    padding: 5px;
    font-size: 3rem;
  }
}

.title-container{
  padding-top: 10px;
}


.contains-data b {
  font-size: 4rem;
  margin: 25px;
  display: grid;
  place-content: center;
}

.about {
  background: $third-c;
}



.main-ABOUT-container {
  padding: 3% 10%;
  display: grid;
  width: 100%;
  grid-template: repeat(1, 1fr)/ repeat(1, 1fr);
  font-family: "PT Sans";
  place-items: center;
  padding: 0% 10% 5%;
  gap: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
  .icon-cont {
    margin-bottom: 20px;
  }
  h3 {
    width: fit-content;
    margin: 20px auto;
    border-bottom: 2px solid $secondary-b;
  }
  a {
    font-style: italic;
    cursor: pointer;
  }
}

.icon-cont {
  background: rgb(255, 255, 255);
  width: 120px;
  border-radius: 10px;
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;

  }
}


.data-contains {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ANIMATIONS */

a {
  text-decoration: none;
  color: $black-title;
  font-family: "PT Sans", cursive;
}

b,
h2,
h3,
p {
  color: $black-title;
  font-size: clamp(1.5rem, 4vw, 1.8rem);
  font-family: "PT Sans", cursive;

}





@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* arrow Animation */

@-webkit-keyframes slide-in-top-arrow {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top-arrow {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    transform: rotate(90deg);
  }
}


/* media Queries */

@media screen and (min-width: 601px) {
  html {
    font-size: 85%;
  }
}

@media screen and (min-width: 780px) {
  html {
    font-size: 85%;
  }

  .nav-container {
    justify-content: end;
    padding: 0px 20px;

    .navbar {
      overflow: hidden;
      position: fixed;
      bottom: 30px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: inherit;
      padding: 13px;
      border-radius: 15px;
      flex-direction: column;
      height: 200px;
      border: 3px solid $black-title;
    }
  }
  .main-ABOUT-container {
    grid-template: repeat(4, 1fr)/ repeat(4, 1fr);
  }
}